<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.raven.cloud.uaa.dao.UserStatusDao">



    <select id="selectUserRoles" parameterType="string" resultType="com.raven.cloud.uaa.model.po.role.Role">
        select distinct r.* from role r,
                                 user_status us,
                                 user_status_role usr,
                                 user_group ug,
                                 user_group_user_status ugus,
                                 user_group_role ugr
        where (
                r.id=usr.role_id
                and us.username=usr.username
                and us.username=#{username}
            ) or (
                us.username=ugus.username
                and ug.id=ugus.user_group_id
                and ug.id=ugr.user_group_id
                and r.id=ugr.role_id
                and us.username=#{username}
            );
    </select>

</mapper>